<h1 class="page-header text-center">Would you rather?</h1>

<% content_for :new_rather do %>
  <%= link_to "Ask", new_rather_path %>
<% end %>

<div class="col-sm-12">
  <ul class="rathers-wrapper">
    <% @rathers.each.sort.each do |rather| %>

      <li class="rathers-row rather_<%= rather.id %> <%= disable_if_user_voted(rather) %>">
        <div class="row">
          <div class="col-sm-7">
            <div class="row">

              <h3>Would you rather...</h3>

              <div class="col-xs-5">

                <span class="choice_<%= rather.first_choice.id %>_votes">
                  <%= rather.first_choice.votes.count %>
                </span> votes

                <%= link_to choice_votes_path(rather.first_choice.id), method: "post", remote: true, class: "choice-link" do %>

                  <div class="choice-wrapper well choice_<%= rather.first_choice.id %> <%= rather.first_choice.user_voted_for?(current_user) %>">

                    <%= image_tag "http://lorempixel.com/g/200/200", class:"choice-pic" %>

                    <span class="description">
                      <%= rather.choices[0].text %>
                    </span>
                  </div>

                  <p class="choice_percentage">
                    <%= rather.choices[0].get_percentage(rather) %>%
                  </p>

                <% end %>
              </div>

              <div class="col-xs-2">
                <p class="or-divider">OR</p>
              </div>

              <div class="col-xs-5">

                <span class="choice_<%= rather.second_choice.id %>_votes">
                  <%= rather.second_choice.votes.count %>
                </span> votes

                <%= link_to choice_votes_path(rather.second_choice.id), method: "post", remote: true, class: "choice-link" do %>

                <div class="choice-wrapper well choice_<%= rather.second_choice.id %> <%= rather.second_choice.user_voted_for?(current_user) %>">

                  <%= image_tag "http://lorempixel.com/g/200/200", class:"choice-pic" %>

                  <span class="description">
                    <%= rather.choices[1].text %>
                  </span>
                </div>

                <p class="choice_percentage">
                  <%= rather.choices[1].get_percentage(rather) %>%
                </p>

                <% end %>

              </div>

            </div>
          </div>

          <%= render "comment_section", rather: rather %>

        </div>
      </li>
    <% end %>
  </ul>
</div>
