<% content_for :new_rather do %>
  <%= link_to "Add", new_rather_path, class: "pull-right" %>
<% end %>

<div class="col-sm-12">
  <ul class="rathers-wrapper">
    <% @rathers.each.sort.each do |rather| %>

      <li class="rathers-row rather_<%= rather.id %>">
        <div class="row">

          <div class="col-sm-7">
            <div class="row">
              <h4>Would you rather...</h4>

              <div class="col-xs-5">

                <span class="choice_one_votes">
                  <%#= rather.choice_one_votes %>
                </span> votes

                <%= image_tag "http://lorempixel.com/g/200/200", class:"choice-pic" %>"

                <%#= rather.choice_one_text %>

                <%= bootstrap_form_for rather, remote: true do |f| %>
                  <%= f.hidden_field :choice_one_text %>
                  <%= f.primary %>
                <% end %>

              </div>

              <div class="col-xs-2">
                <p class="or-divider">OR</p>
              </div>

              <div class="col-xs-5">

                <span class="choice_two_votes">
                  <%#= rather.choice_two_votes %>
                </span> votes

                <%= image_tag "http://lorempixel.com/g/200/200", class:"choice-pic" %>"

                <%#= rather.choice_two_text %>

                <%= bootstrap_form_for rather, remote: true do |f| %>
                <%= f.hidden_field :choice_two_text %>
                  <%= f.primary %>
                <% end %>
              </div>

            </div>
          </div>

          <div class="col-sm-5">
            <h4>Comments</h4>
          </div>

        </div>

      </li>
    <% end %>
  </ul>
</div>
